@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/reset";
@use "../../styles/partials/variables" as *;

.header {
  border: 1px solid red;
  padding: 0 1rem;

  &__container {
    border: 1px solid green;
    width: 100%;
    @include tablet {
      display: flex;
    }
    @include desktop {
      margin: 0 auto;
      width: $desktop-breakpoint;
    }
  }

  &__title {
    margin: 0;
    padding: 1rem 0;
    font-weight: 900;
    width: 100%;
    text-align: center;
    @include tablet {
      width: 50%;
    }
  }
}

.form {
  width: 100%;
  @include tablet {
    display: flex;
    justify-content: space-around;
  }

  &__input {
    width: 12rem;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    @include tablet {
      margin-right: 1rem;
    }
    @include desktop {
      width: 15rem;
      margin-right: 1rem;
    }
  }

  &__button {
    background-color: lightblue;
    color: black;
    font-weight: 700;
    width: 6rem;
    padding: 0.5rem 1rem;
  }

  &__search {
    margin-bottom: 1rem;
  }

  &__flex {
    display: flex;
    @include tablet {
      justify-content: space-around;
    }
  }
}
