@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/reset";
@use "../../styles/partials/variables" as *;

.weather {
  padding: 0;
  @include tablet {
    padding: 1rem;
  }

  &__intro {
    text-align: center;
  }
}

.card {
  padding: 0;
  margin-top: 1rem;
  text-align: center;

  @include tablet {
    width: 75%;
    margin-top: 0;
    margin: 0 auto;
  }

  @include desktop {
    padding: 0;
  }

  &__title {
    text-align: center;
    margin: 0;
    padding: 1rem 0;
    font-weight: 900;
    font-size: 1.75rem;
    width: 100%;
  }

  &__image {
    width: 100%;
    margin: 1rem 0;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  &__time {
    color: red;
    font-size: 1.5rem;
  }

  &__description {
    color: blue;
    font-size: 1.5rem;
  }
}
